<td-layout #layout sidenavTitle="Sidenav Title" >
  <md-nav-list menu-items>
  	<a md-list-item>Teste</a>
  </md-nav-list>
  <td-layout-nav #list toolbarTitle="AELISMaps">
  	<td-layout-manage-list #list>
  		<md-toolbar list-items>
        	<span>Zonas</span>
      	</md-toolbar>
	  	<md-nav-list list-items>
	  		 <a md-list-item>Item</a>
	  	</md-nav-list>
	    <div toolbar-buttons layout="row" layout-align="start center" flex>
        	<span>Vistorias</span>
        	<span flex></span>
        	<button md-button class="md-icon-button"><md-icon class="md-24">more_vert</md-icon></button>
     	</div>
	    <router-outlet></router-outlet>
  	</td-layout-manage-list>
  </td-layout-nav>
</td-layout>