<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body ng-app="springMVCMD">
	
	<div ng-controller="IndexCT as indexCT">
		<p>Do server: {{indexCT.grettings.label}}</p>
	</div>
	
    <p th:text="'Hello, ' + ${name} + '!'" />
    <!-- 
    <script src="/js/components/angular/1.8.5/angular.min.js"></script>
    <script src="/js/components/angular/1.8.5/dependencies/angular-resource.min.js"></script>
    <script src="/js/app.module.js"></script>
    <script src="/js/components/angular/1.8.5/dependencies/angular-resource.min.js"></script>
    <script src="/js/services/index.service.js"></script>
    <script src="/js/controllers/index.controller.js"></script>
     -->
</body>
</html>