<md-dialog aria-label="Nova Action" style="min-width: 30%">
<form>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Nova Action</h2>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div layout="column" ng-cloak class="md-inline-form" layout-padding>
			<md-input-container>
		        <label>Nome</label>
		        <input ng-model="actionEditorCT.doc.name">
	      	</md-input-container>
	      	<md-input-container>
		        <label>Descrição</label>
		        <input ng-model="actionEditorCT.doc.description">
	      	</md-input-container>
		</div>
	</md-dialog-content>
	<md-dialog-actions>
		<md-button class="md-primary" ng-click="actionEditorCT.save()">
		  Salvar
		</md-button>
	</md-dialog-actions>
</form>
</md-dialog>
